<!DOCTYPE html>
<html lang="ko" ng-app>
<head>
  <meta charset="UTF-8">
  <title>Default HTML</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="./css/signup.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <script src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body>
  <header>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="../index.html" id="logo" class="navbar-brand">7team</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="../index.html">Home</a></li>
            <li><a href="../aboutUs/aboutUs.html">About Us</a></li>
            <li><a href="../article/articleList.html">Article</a></li>
            <li><a href="../board/boardList.html">board</a></li>
            <li><a href="../qna/qnaList.html">QnA</a></li>
            <li><a href="../login/signup.html">SignUp</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../login/login.html"><span class="glyphicon glyphicon-log-in"> Login</span></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

<!-- ############################# Page Title ############################## -->
<section>
  <div class="jumbotron">
    <h1>Kosta7Team</h1>
    <p>Willkommen</p>
  </div>

<!-- ############################## JoinBox ############################### -->
  <div class="container" id="joinBox">
    <h2 class="text-center">SignUp</h2>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="control-label col-sm-2" for="userID">아이디 :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="userID" placeholder="아이디를 입력해주세요" required>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="userPwd">비밀번호 :</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="userPwd" placeholder="비밀번호를 입력해주세요" required>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="reUserPwd">재입력 :</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="reUserPwd" placeholder="비밀번호를 다시한번 입력해주세요" required>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="userName">이름 :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="userName" placeholder="이름을 입력해주세요" required>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="userName">전화번호 :</label>
        <div class="col-sm-10">
          <input type="tel" class="form-control" id="userName" placeholder="전화번호를 입력해주세요" required>
        </div>
      </div>

      <!-- <div class="form-group">
        <label class="control-label col-sm-2" for="userName">이름 :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="userName" placeholder="이름을 입력해주세요" required>
        </div>
      </div> -->

      <div class="form-group">
        <label class="control-label col-sm-2" for="userAddress">주소 :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="userAddress" placeholder="주소를 입력해주세요" required>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-myButton">가입하기</button>
          <button type="button" class="btn btn-facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i> &nbsp;페이스북으로 가입하기</button>
          <button type="button" class="btn btn-instagram"><i class="fa fa-instagram" aria-hidden="true"></i> &nbsp;인스타그램으로 가입하기</button>
        </div>
      </div>

    </form>
  </div>
</section>

  <!-- ########################### FOOTER ###################################-->
  <footer id="footer" class="container-fluid text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <h2>Kosta7Team</h2>
        </div>
        <div class="col-sm-8">
          <p>가산디지털단지역 KOSTA 사무실 || 고객상담실 : 080 - 000 - 0000 || 대표이사 : PSY</p>
          <p>통신판매업 신고번호 서울-11111호</p>
          <p>Copyright &copy; 2016 Kosta7Team Co., ltd ALL RIGHTS RESERVED</p>
        </div>
        <div class="col-sm-2">
            <h4>Category</h4>
            <ul>
              <li><a href="skills.html">Aboutus</a></li>
              <li><a href="gallery.html">Article</a></li>
              <li><a href="board.html">QnA</a></li>
              <li><a href="join.html">SignUp</a></li>
              <li><a href="login.html">Login</a></li>
            </ul>
        </div>
      </div>
    </div>
  </footer>

  <!--############################# SCRIPT CODE #############################-->
  <script src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
