@charset "UTF-8";

#span_left {
	float : left;
}

#span_right {
  	float : right;
}

#delete_btn {
  	float : left;
}

#write_btn {
  	float : right;
}

.jumbotron{
	background: url('../img/test.jpg') no-repeat;
	background-size : 100%;
}

#save_btn {
	float : right;
}
 
#cancel_btn {
 	float : right;
}

.font-sizeup {
	font-size : 20px;
}

.writeview {
 background: url('../img/articleregiste.jpg') no-repeat;
 background-attachment : fixed;
 background-size : 100%;
}

.title{
	color : #fff;
}

.container {
	 opacity: 0.5;
}
