@charset "UTF-8";

/* font */
@import 'https://fonts.googleapis.com/css?family=Permanent+Marker';

/* initialize */
*{
  list-style: none;
}

/* logo style */
#logo{
  font-family: 'Permanent Marker', cursive;
  font-size:30px;
  color:white;
  margin: 0 auto;
}

.navbar{
  margin-bottom : 0;
  border-right : 0;
}

.icon{
  font-size : 100px;
}

#footer {
    background-color: #000;
    color: #4BF;
    padding: 25px;
    margin-top:100px;
}
