@charset "UTF-8";

/* font */
@import 'https://fonts.googleapis.com/css?family=Permanent+Marker';

/* logo style */
#logo{
  font-family : 'Permanent Marker', cursive;
  font-size : 30px;
  color: #fff;
  margin: 0 auto;
}

.navbar{
  margin-bottom : 0;
  border-right : 0;
}

.icon{
  font-size : 100px;
}

footer{
  background-color : #f2f2f2;
  margin-top : 20px;
  padding : 25px;
}
