@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Orbitron);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* reset CSS */
*{margin:0;padding:0;}
ol,ul{list-style-type:none;}
a{outline:0;text-decoration:none;color:#555;}
img{border:none;}
body{font-family:'Orbitron','Nanum Gothic';}

/* Bootstrap jumbtron */

.jumbotron{
  background-color: #000;
  color: #fff;
  text-align:center;
  padding-top:80px;
}

#loginBox{
  margin-bottom:200px;
}

#loginBox h2{
  margin-bottom:43px;
}

.btn-myButton{
  background-color: #000;
  color: #fff;
}
.btn-facebook{
  background-color: #3B5998;
  color:#fff;
}
.btn-instagram{
  background-color: #D02221;
  color:#fff;
}

/* footer */
#footer{
  background-color: #000;
  color:#fff;
  padding:20px 0;
}
